# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config keywellcs4_left
    def_bool $(shields_list_contains,keywellcs4_left)

config keywellcs4_right
    def_bool $(shields_list_contains,keywellcs4_right)