/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// #include <dt-bindings/zmk/rgb.h>
// rob"s zmk unicode

#include <behaviors/unicode.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/* MEH...
    Keycodes for other locales
    Gives nothing extra except key representation in visual editor
    https://github.com/nickcoutsos/keymap-editor/wiki/Keycodes-for-other-locales
*/
// #include "keys_uk_enhanced.h"

#define DEFAULT 0
#define SYMBOLS_LAYER  1
#define BT_LAYER  2
#define SUPER_AS_MOVE_TMP  3

/* NOTE: At the time of the creation of this keymap, there are no specified codes for 'eisuu' and 'kana' input in ZMK.
However, 'LANG1' and 'LANG2' are fully-functioning candidates for 'kana' and 'eisuu' input respectively.
As such, those are in use within the default layer at this time.*/


/ {
    behaviors {

    // rob"s zmk unicode

&uc {
    default-mode = <UC_MODE_MACOS>;
    minimum-length = <4>;
    macos-key = <LALT>;

    // linux-key = <LC(LS(U))>;
    // win-compose-key = <RALT>;
};
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
            hold-trigger-on-release;
        };

        timeless_layer: timeless_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TIMELESS_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        timeles_CmdTAbReleaseTab: timeles_CmdTAbReleaseTab {
            compatible = "zmk,behavior-hold-tap";
            label = "TIMELES_CMDTABRELEASETAB";
            bindings = <&CmdTAbReleaseTabMacro>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        maclike_backspace_delete: maclike_backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            mods = <(MOD_LSFT)>;   // when LEFT_SHIFT is held
            keep-mods = <0>;       // don't send Shift with Delete
        };

        kt_on: key_toggle_on_only {
            compatible = "zmk,behavior-key-toggle";
            #binding-cells = <1>;
            toggle-mode = "on";   // only presses, never releases
        };

        kt_off: key_toggle_off_only {
            compatible = "zmk,behavior-key-toggle";
            #binding-cells = <1>;
            toggle-mode = "off";  // only releases, never presses
        };

        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };

        tog_of: toggle_layer_of_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "off";
        };

        // Regular Symbols To Occasionally Fallback When Can't Remember Where Particular Symbol On A new Symbol Layer
        // 1-10 keys
        // 11-12 keys ( -/_ and =/+ )

        timelessCmdLayer: timelessCmdLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "TIMELESSCMDLAYER";
            bindings = <&UnicodeCmdWA>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        ToggleColmak {
            bindings = <&tog 1>;
            key-positions = <33 41>;
        };
    };

    macros {
        CmdTAbReleaseTabMacro: CmdTAbReleaseTabCombo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_on 9 &kt_on LCMD &kt_on TAB &kt_off TAB>,
                <&macro_pause_for_release>,
                <&tog_of 9 &kt_off LCMD>;

            label = "CMDTABRELEASETABCOMBO";
            tap-ms = <1>;
            wait-ms = <1>;
        };

        UnicodeCmdWA: cmdLayer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt_on F16 &kt_on L &kt_on E &kt_off F16 &kt_off L &kt_off E &tog_of 2 &kt_on LCMD>,
                <&macro_pause_for_release>,
                <&tog_on 2 &kt_off LCMD &kt_on F16 &kt_on L &kt_on H &kt_off F16 &kt_off L &kt_off H>;

            label = "CMDLAYER";
        };

        UnicodeOptionWA: UnicodeOptionWA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt_on F16 &kt_on L &kt_on E &kt_off F16 &kt_off L &kt_off E &tog_of 2 &kt_on LALT>,
                <&macro_pause_for_release>,
                <&tog_on 2 &kt_off LALT &kt_on F16 &kt_on L &kt_on H &kt_off F16 &kt_off L &kt_off H>;

            label = "UNICODEOPTIONWA";
        };

        UnicodeControlWA: UnicodeControlWA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt_on F16 &kt_on L &kt_on E &kt_off F16 &kt_off L &kt_off E &tog_of 2 &kt_on LEFT_CONTROL>,
                <&macro_pause_for_release>,
                <&tog_on 2 &kt_off LEFT_CONTROL &kt_on F16 &kt_on L &kt_on H &kt_off F16 &kt_off L &kt_off H>;

            label = "UNICODECONTROLWA";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            // ---------------------------------------------------------------------------------------------------------------------------------
            // |   Q    |   W    |   E    |   R    |   T    |                                      |   Y    |   U    |   I    |   O    |   P    |
            // |   A    |   S    |   D    |   F    |   G    |                                      |   H    |   J    |   K    |   L    |   ;    |
            // |   Z    |   X    |   C    |   V    |   B    |                                      |   N    |   M    |   ,    |   .    |   /    |
            // | SPACE |  LOWER   |  ALT   |  LGUI  | EISUU  | ESC  | ADJUST |                     |  SPACE | RAISE  |  KANA  |  LEFT  |  DOWN  |  UP    |  RIGHT |

            bindings = <
&kp Q                &timeless_layer 8 W   &kp E                 &kp R                &timeless_layer 5 T            &kp Y                   &kp U   &kp I      &kp O       &kp P
&timeless_layer 7 A  &timeless_layer 11 S  &timeless_layer 10 D  &timeless_layer 9 F  &timeless_layer 6 G            &kp H                   &kp J   &kp K      &kp L       &kp SEMI
&kp Z                &kp X                 &kp C                 &kp V                &timeles_CmdTAbReleaseTab 0 B  &kp N                   &kp M   &kp COMMA  &kp PERIOD  &kp SLASH
&none                &kp LEFT_CONTROL      &none                 &mt F16 SPACE        &kp LCMD                       &timeless_layer 13 TAB  &mo 12  &kp LALT   &tog 2      &none      &mt LEFT_SHIFT ESCAPE  &timeless_layer 4 ENTER
            >;
        };

        Colemak {
            bindings = <
&kp Q   &kp W                 &kp F                 &kp P                &kp G                          &kp J   &kp L   &kp U      &kp Y    &kp SEMI
&kp A   &timeless_layer 11 R  &timeless_layer 10 S  &timeless_layer 9 T  &kp D                          &kp H   &kp N   &kp E      &kp I    &kp O
&kp Z   &kp X                 &kp C                 &kp V                &timeles_CmdTAbReleaseTab 0 B  &kp K   &kp M   &kp COMMA  &kp DOT  &kp FSLH
&trans  &trans                &trans                &trans               &trans                         &trans  &trans  &trans     &trans   &trans    &trans  &trans
            >;
        };

        UA {
            bindings = <
&uc UC_UK_I_SHORT  &uc UC_UK_TS       &uc UC_UK_U  &uc UC_UK_E  &uc UC_UK_N    &uc UC_UK_H  &uc UC_UK_SH    &uc UC_UK_SCH     &uc UC_UK_Z   &uc UC_UK_KH
&uc UC_UK_F        &uc UC_UK_I        &uc UC_UK_V  &uc UC_UK_A  &uc UC_UK_P    &uc UC_UK_R  &uc UC_UK_O     &uc UC_UK_L       &uc UC_UK_D   &uc UC_UK_ZH
&uc UC_UK_YA       &uc UC_UK_CH       &uc UC_UK_S  &uc UC_UK_M  &uc UC_UK_Y    &uc UC_UK_T  &uc UC_UK_SOFT  &uc UC_UK_B       &uc UC_UK_YU  &trans
&trans             &UnicodeControlWA  &trans       &trans       &UnicodeCmdWA  &trans       &trans          &UnicodeOptionWA  &trans        &trans        &trans  &trans
            >;
        };

        cmdLayer {
            bindings = <
&kp Q   &kp W      &kp E   &kp R   &kp T  &kp Y   &kp U   &kp I      &kp O    &kp P
&kp A   &kp S      &kp D   &kp F   &kp G  &kp H   &kp J   &kp K      &kp L    &kp SEMI
&kp Z   &kp X      &kp C   &kp V   &kp B  &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH
&trans  &kp LCTRL  &trans  &trans  &none  &trans  &trans  &kp LALT   &trans   &trans    &kp LSHFT  &trans
            >;
        };

        SYMBOLS_LAYER {
            display-name = "SYMBOLS_LAYER";

            // ---------------------------------------------------------------------------------------------------------------------------------
            // |    !     |    @     |    #     |    $     |    %     |                                          |    ^     |    &     |    *     |    (     |    )     |
            // |          |          |          |          |          |    {     |                    |    }     |          |          |          |          |          |
            // |          |          |          |          |          |                                          |          |          |          |          |          |

            bindings = <
&kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR
&none     &none   &none     &none     &kp LBRC   &kp RBRC   &none     &none      &none     &kp DOUBLE_QUOTES
&none     &none   &none     &none     &none      &none      &none     &none      &none     &none
&none     &none   &none     &none     &none      &none      &none     &none      &none     &none              &none  &none
            >;
        };

        TabsNav {
            bindings = <
&none  &none  &none  &none  &none  &none  &none            &none  &none  &none
&none  &none  &none  &none  &none  &none  &kp LC(LS(TAB))  &none  &none  &kp LC(TAB)
&none  &none  &none  &none  &none  &none  &none            &none  &none  &none
&none  &none  &none  &none  &none  &none  &none            &none  &none  &none        &none  &none
            >;
        };

        SafGroupNav {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none                      &none                     &none
&none  &none  &none  &none  &none  &none  &none  &kp LG(LA(RIGHT_BRACKET))  &kp LG(LA(LEFT_BRACKET))  &none
&none  &none  &none  &none  &none  &none  &none  &none                      &none                     &none
&none  &none  &none  &none  &none  &none  &none  &none                      &none                     &none  &none  &none
            >;
        };

        WorkSpaceAppNavLayer {
            bindings = <
&none  &none  &none  &none  &none  &none  &none          &none  &none  &none
&none  &none  &none  &none  &none  &none  &kp LS(LA(J))  &none  &none  &kp LA(LS(K))
&none  &none  &none  &none  &none  &none  &none          &none  &none  &none
&none  &none  &none  &none  &none  &none  &none          &none  &none  &none          &none  &none
            >;
        };

        AppWindowsNavLayer {
            bindings = <
&none  &none  &none  &none  &none  &none  &none           &none  &none  &none
&none  &none  &none  &none  &none  &none  &kp LS(LG(F9))  &none  &none  &kp LG(F9)
&none  &none  &none  &none  &none  &none  &none           &none  &none  &none
&none  &none  &none  &none  &none  &none  &none           &none  &none  &none       &none  &none
            >;
        };

        ASDFLayerF {
            bindings = <
&none     &none           &none   &none   &none   &none   &none           &none           &none         &none
&kp LALT  &kp LEFT_SHIFT  &none   &none   &none   &none   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT
&none     &none           &none   &none   &none   &none   &none           &none           &none         &none
&trans    &trans          &trans  &trans  &trans  &trans  &trans          &trans          &trans        &trans     &trans  &trans
            >;
        };

        ASDFLayerD {
            bindings = <
&none     &none   &none   &none   &none   &none   &none          &none   &none   &none
&kp LALT  &none   &none   &none   &none   &none   &kp BACKSPACE  &none   &none   &kp DELETE
&none     &none   &none   &none   &none   &none   &none          &none   &none   &none
&trans    &trans  &trans  &trans  &trans  &trans  &trans         &trans  &trans  &trans      &trans  &trans
            >;
        };

        ASDFS {
            bindings = <
&none         &none           &none   &none   &none   &none   &none               &none               &none             &none
&kp LEFT_ALT  &kp LEFT_SHIFT  &none   &none   &none   &none   &kp LS(LEFT_ARROW)  &kp LS(DOWN_ARROW)  &kp LS(UP_ARROW)  &kp LS(RIGHT_ARROW)
&none         &none           &none   &none   &none   &none   &none               &none               &none             &none
&trans        &trans          &trans  &trans  &trans  &trans  &trans              &trans              &trans            &trans               &trans  &trans
            >;
        };

        bt_layer {
            display-name = "BT Layer";

            // ---------------------------------------------------------------------------------------------------------------------------------
            // |    1     |    2     |    3     |    4     |    5     |                                          |    6     |    7     |    8     |    9     |    0     |
            // |  BT CLR  | BT SEL0  | BT SEL1  | BT SEL2  | BGT SEL3 | BT SEL4  |                                          | RGB EFF+ | RGB HUE+ | RGB SAT+ | RGB SPD+ | RGB BRI+ | RGB TOG  |
            // |  BT NXT  | BT PRV  | OUT USB  | OUT BLE  |          |          |                                          | RGB EFF- | RGB HUE- | RGB SAT- | RGB SPD- | RGB BRI- |          |
            // |    |          |          |          |          |          |    {     |                    |    }     |          |          |          |          |          |          |
            // |          |          |          |          |          |          |          |                    |          |          |          |          |          |          |          |

            bindings = <
&kp N1      &kp N2        &kp N3        &kp N4        &kp N5        &kp N6        &kp N7    &kp N8  &kp N9  &kp N0
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none     &none   &none   &none
&bt BT_NXT  &bt BT_PRV    &none         &none         &out OUT_BLE  &kp LBRC      &kp RBRC  &none   &none   &none
&none       &none         &none         &none         &none         &none         &none     &none   &none   &none   &none  &none
            >;
        };

        Numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp PLUS         &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp ASTERISK
&trans  &trans  &trans  &trans  &trans  &kp KP_MINUS     &kp KP_NUMBER_4  &kp KP_N5        &kp KP_NUMBER_6  &kp KP_DIVIDE
&trans  &trans  &trans  &trans  &trans  &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT
&trans  &trans  &trans  &trans  &trans  &trans           &trans           &trans           &trans           &trans         &trans  &kp KP_EQUAL
            >;
        };
    };
};
