/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// #include <dt-bindings/zmk/rgb.h>
// rob"s zmk unicode

#include <behaviors/unicode.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/* MEH...
    Keycodes for other locales
    Gives nothing extra except key representation in visual editor
    https://github.com/nickcoutsos/keymap-editor/wiki/Keycodes-for-other-locales
*/
// #include "keys_uk_enhanced.h"

#define DEFAULT 0
#define SYMBOLS_LAYER  1
#define WARP  20
#define PRESISION  21

#include "includes/mouse.dtsi"

/* NOTE: At the time of the creation of this keymap, there are no specified codes for 'eisuu' and 'kana' input in ZMK.
However, 'LANG1' and 'LANG2' are fully-functioning candidates for 'kana' and 'eisuu' input respectively.
As such, those are in use within the default layer at this time.*/
// rob"s zmk unicode

&uc {
    default-mode = <UC_MODE_MACOS>;
    minimum-length = <4>;
    macos-key = <LALT>;

    // linux-key = <LC(LS(U))>;
    // win-compose-key = <RALT>;
};

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33 34 35 36 39 37 38 37 38 40 41>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        Backspase_MacLike_mod_morph: maclike_backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            mods = <(MOD_LSFT)>;   // when LEFT_SHIFT is held
            keep-mods = <0>;       // don't send Shift with Delete
        };

        EscQ: EscQ {
            compatible = "zmk,behavior-tap-dance";
            label = "ESCQ";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp ESCAPE>;

            tapping-term-ms = <302>;
        };

        H_deleteWordOnDoubleTap: H_deleteWordOnDoubleTap {
            compatible = "zmk,behavior-tap-dance";
            label = "H_DELETEWORDONDOUBLETAP";
            #binding-cells = <0>;
            bindings = <&kp H>, <&kp LA(BACKSPACE)>;
        };

        backspaseOrDeleteWordOnDouble: backspaseOrDeleteWordOnDouble {
            compatible = "zmk,behavior-tap-dance";
            label = "BACKSPASEORDELETEWORDONDOUBLE";
            #binding-cells = <0>;
            bindings = <&Backspase_MacLike_mod_morph>, <&kp LA(BACKSPACE)>;
        };

        slash_and_backslash_EN_tapdance: slash_and_backslash_EN_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "SLASH_AND_BACKSLASH_EN_TAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp BACKSLASH>;
        };

        slash_and_backslash_NonEN_tpdnc: slash_and_backslash_NonEN_tpdnc {
            compatible = "zmk,behavior-tap-dance";
            label = "SLASH_AND_BACKSLASH_NONEN_TPDNC";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(SLASH))>, <&kp LA(LC(BACKSLASH))>;
        };

        B_Sticky_CMD_Onehanded: B_Sticky_CMD_Onehanded {
            compatible = "zmk,behavior-tap-dance";
            label = "B_STICKY_CMD_ONEHANDED";
            #binding-cells = <0>;
            bindings = <&kp B>, <&sk LEFT_COMMAND>;
        };

        EscUKPhonotic: EscUKPhonotic {
            compatible = "zmk,behavior-tap-dance";
            label = "ESCUKPHONOTIC";
            #binding-cells = <0>;
            bindings = <&kp Z>, <&kp ESCAPE>;

            tapping-term-ms = <302>;
        };

        X_deleteWordOnDoubleTap: X_deleteWordOnDoubleTap {
            compatible = "zmk,behavior-tap-dance";
            label = "X_DELETEWORDONDOUBLETAP";
            #binding-cells = <0>;
            bindings = <&kp X>, <&kp LA(BACKSPACE)>;
        };

        Sticky_CMD_Onehanded_UK_Phoneti: Sticky_CMD_Onehanded_UK_Phoneti {
            compatible = "zmk,behavior-tap-dance";
            label = "STICKY_CMD_ONEHANDED_UK_PHONETI";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&sk LEFT_COMMAND>;
        };

        UK_Period_Symbol: UK_Period_Symbol {
            // Keep it consistent with EN first register only. Second  - ppo.

            compatible = "zmk,behavior-mod-morph";
            label = "UK_PERIOD_SYMBOL";
            bindings = <&kp SLASH>, <&none>;

            #binding-cells = <0>;
            keep-mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RSFT|MOD_RALT|MOD_RGUI)>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        UK_Comma_Symbol: UK_Comma_Symbol {
            //  Keep it consistent with EN first register only. Second  - ppo

            compatible = "zmk,behavior-mod-morph";
            label = "UK_COMMA_SYMBOL";
            bindings = <&kp LS(SLASH)>, <&none>;

            #binding-cells = <0>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RSFT|MOD_RALT|MOD_RGUI|MOD_LSFT)>;
            mods = <(MOD_LCTL)>;
        };

        UK_Question_Symbol: UK_Question_Symbol {
            //  Keep it consistent with EN 1st and 2nd registers

            compatible = "zmk,behavior-mod-morph";
            label = "UK_QUESTION_SYMBOL";
            bindings = <&kp LC(RA(SLASH))>, <&kp LS(NUMBER_7)>;

            #binding-cells = <0>;
            keep-mods = <(MOD_LGUI|MOD_RCTL|MOD_RSFT|MOD_RALT|MOD_RGUI|MOD_LSFT|MOD_LCTL|MOD_LALT)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kt_on: key_toggle_on_only {
            compatible = "zmk,behavior-key-toggle";
            #binding-cells = <1>;
            toggle-mode = "on";   // only presses, never releases
        };

        kt_off: key_toggle_off_only {
            compatible = "zmk,behavior-key-toggle";
            #binding-cells = <1>;
            toggle-mode = "off";  // only releases, never presses
        };

        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };

        tog_of: toggle_layer_of_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "off";
        };

        HyperMac_HT_Timeless: holdTapMacroKp {
            compatible = "zmk,behavior-hold-tap";
            label = "Hyper";
            bindings = <&HyperMacTimelessMacro>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <173>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        MacOS_CMD_non_en_fix_LHRM: MacOS_CMD_non_en_fix_LHRM {
            compatible = "zmk,behavior-hold-tap";
            label = "MACOS_CMD_NON_EN_FIX_LHRM";
            bindings = <&MacOSCmdShortcutsNonEN_WA>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 15 16 17 18 25 26 27 28 36 37 38 39 40 41 30 31 32 33 34 35 9 19 29>;
        };

        MacOS_CMD_non_en_fix_RHRM: MacOS_CMD_non_en_fix_RHRM {
            compatible = "zmk,behavior-hold-tap";
            label = "MACOS_CMD_NON_EN_FIX_RHRM";
            bindings = <&MacOSCmdShortcutsNonEN_WA>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        MacOS_Control_non_en_fix_LHRM: MacOS_Control_non_en_fix_LHRM {
            compatible = "zmk,behavior-hold-tap";
            label = "MACOS_CONTROL_NON_EN_FIX_LHRM";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 15 16 17 18 25 26 27 28 36 37 38 39 40 41 30 31 32 33 34 35 9 19 29>;
            bindings = <&MacOSControlShortcutsNonEN_WA>, <&kp>;
        };

        MacOS_Control_non_en_fix_RHRM: MacOS_Control_non_en_fix_RHRM {
            compatible = "zmk,behavior-hold-tap";
            label = "MACOS_CONTROL_NON_EN_FIX_RHRM";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            bindings = <&MacOSControlShortcutsNonEN_WA>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        Hyper_iPad_HT_Timeless: Hyper_iPad_HT_Timeless {
            compatible = "zmk,behavior-hold-tap";
            label = "HYPER_IPAD_HT_TIMELESS";
            bindings = <&HyperiPadTimelessMacro>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <173>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        iOS_CMD_non_qwerty_fix_LHRM: iOS_CMD_non_qwerty_fix_LHRM {
            compatible = "zmk,behavior-hold-tap";
            label = "IOS_CMD_NON_QWERTY_FIX_LHRM";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 15 16 17 18 25 26 27 28 36 37 38 39 40 41 30 31 32 33 34 35 9 19 29 5>;
            bindings = <&iPadCmdShortcutsNonQwerty_WA>, <&kp>;
        };

        iOS_CMD_non_qwerty_fix_RHRM: iOS_CMD_non_qwerty_fix_RHRM {
            compatible = "zmk,behavior-hold-tap";
            label = "IOS_CMD_NON_QWERTY_FIX_RHRM";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            bindings = <&iPadCmdShortcutsNonQwerty_WA>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        iOS_Control_non_qwerty_fix_LHRM: iOS_Control_non_qwerty_fix_LHRM {
            compatible = "zmk,behavior-hold-tap";
            label = "IOS_CONTROL_NON_QWERTY_FIX_LHRM";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            bindings = <&iPadControlShortcutNonQwerty_WA>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 36 37 38 39 40 41 30 31 32 33 34 35>;
        };

        iOS_Control_non_qwerty_fix_RHRM: iOS_Control_non_qwerty_fix_RHRM {
            compatible = "zmk,behavior-hold-tap";
            label = "IOS_CONTROL_NON_QWERTY_FIX_RHRM";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            bindings = <&iPadControlShortcutNonQwerty_WA>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35 36 37 38 39 40 41>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_Globe {
            bindings = <&kp GLOBE>;
            key-positions = <33 34>;
            layers = <0 1 4 2 3 5>;
        };

        combo_CmdTAbAppSW {
            bindings = <&CmdTAbAppSWMacro>;
            key-positions = <34 24>;
            layers = <0 1 2 4 5 3>;
            timeout-ms = <1500>;
        };

        UK_SC {
            bindings = <&kp O>;
            key-positions = <1 17>;
            timeout-ms = <150>;
            layers = <1 2 4 5 3>;
        };

        UK_JU {
            bindings = <&kp PERIOD>;
            key-positions = <7 12>;
            timeout-ms = <150>;
            layers = <1 2 4 5 3>;
        };

        UK_JI {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <12 18>;
            timeout-ms = <150>;
            layers = <1 2 4 5 3>;
        };

        UK_G_tverde {
            bindings = <&kp GRAVE>;
            key-positions = <4 17>;
            timeout-ms = <150>;
            layers = <1 2 4 5 3>;
        };

        UK_ZJ {
            bindings = <&kp SEMI>;
            key-positions = <5 12>;
            timeout-ms = <150>;
            layers = <1 2 4 5 3>;
        };

        UK_Miaki_ZNAK {
            bindings = <&kp M>;
            key-positions = <17 24>;
            timeout-ms = <150>;
            layers = <1 2 4 5 3>;
        };
    };

    macros {
        CmdTAbAppSWMacro: CmdTAbReleaseTabCombo {
            //    - ! Don't asign to holds of hold-taps as in standard user press CMD+TAB faster and it will not trigger in time
            //    - wait and tap time of at least 30ms is recommended to avoid having HID notifications grouped at the BLE
            //  protocol level and then processed out of order

            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCMD &mo 10 &kp TAB>,
                <&macro_wait_time 100>,
                <&macro_release>,
                <&kp TAB>,
                <&macro_wait_time 1>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 10 &kp LCMD>;

            label = "CMDTABRELEASETABCOMBO";
            tap-ms = <1>;  // not used as no taps
            wait-ms = <1>;  // make initial cmd press down asap
        };

        CmdShortcutsUnicodeWAMacro: UnicodeCmdWA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt_on F16 &kt_on L &kt_on E &kt_off F16 &kt_off L &kt_off E &tog_of 24 &kt_on LCMD>,
                <&macro_pause_for_release>,
                <&tog_on 24 &kt_off LCMD &kt_on F16 &kt_on L &kt_on H &kt_off F16 &kt_off L &kt_off H>;

            label = "UnicodeCmdWA";
        };

        OptionShortcutsUnicodeWAMacro: UnicodeOptionWA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt_on F16 &kt_on L &kt_on E &kt_off F16 &kt_off L &kt_off E &tog_of 24 &kt_on RALT>,
                <&macro_pause_for_release>,
                <&tog_on 24 &kt_off RALT &kt_on F16 &kt_on L &kt_on H &kt_off F16 &kt_off L &kt_off H>;

            label = "UNICODEOPTIONWA";
        };

        ControlShortcutsUnicodeWAMacro: UnicodeControlWA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt_on F16 &kt_on L &kt_on E &kt_off F16 &kt_off L &kt_off E &tog_of 24 &kt_on LEFT_CONTROL>,
                <&macro_pause_for_release>,
                <&tog_on 24 &kt_off LEFT_CONTROL &kt_on F16 &kt_on L &kt_on H &kt_off F16 &kt_off L &kt_off H>;

            label = "UNICODECONTROLWA";
        };

        emojiPOCMacro: emojiNum1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp M &kp I &kp L &kp E &kp N &kp U &kp M>;
            label = "EMOJINUM1";
        };

        iPadMacro: iPad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &tog_of 1 &tog_of 2 &tog_of 3 &tog_on 4 &tog_of 5>;
            label = "IPAD";
        };

        MacMacro: Mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &tog_of 1 &tog_of 2 &tog_of 3 &tog_of 4 &tog_of 5 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4>;
            label = "MAC";
        };

        HyperMacTimelessMacro: HyperMacTimelessMacro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt_on F16 &tog_on 15>,
                <&macro_pause_for_release>,
                <&tog_of 15 &kt_off F16>;

            label = "HYPERMACTIMELESSMACRO";
            tap-ms = <1>;
            wait-ms = <1>;
        };

        MacOSCmdShortcutsNonEN_WA: MacOSCmdShortcutsNonEN_WA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_of 1 &tog_of 2 &kt_on F16 &kt_on L &kt_on E &kt_off F16 &kt_off L &kt_off E &kt_on LCMD>,
                <&macro_pause_for_release>,
                <&tog_on 1 &tog_on 2 &kt_off LCMD &kt_on F16 &kt_on L &kt_on U &kt_off F16 &kt_off L &kt_off U>;

            label = "MACOSCMDSHORTCUTSNONEN_WA";
            tap-ms = <1>;
            wait-ms = <1>;
        };

        MacOSControlShortcutsNonEN_WA: ControlShortcutsNonEN_WA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_of 1 &tog_of 2 &kt_on F16 &kt_on L &kt_on E &kt_off F16 &kt_off L &kt_off E &kt_on LEFT_CONTROL>,
                <&macro_pause_for_release>,
                <&tog_on 1 &tog_on 2 &kt_off LEFT_CONTROL &kt_on F16 &kt_on L &kt_on U &kt_off F16 &kt_off L &kt_off U>;

            label = "CONTROLSHORTCUTSNONEN_WA";
            wait-ms = <1>;
            tap-ms = <1>;
        };

        MacKarabinerOutdL: MacKarabinerL {
            //    For rdp/vnc/remote carabiner don't work. To switch system layouts use Apple Script added as a service with shortcut

            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_on 16 &kt_on L>,
                <&macro_pause_for_release>,
                <&tog_of 16 &kt_off L>;

            label = "MACKARABINERL";
        };

        MacKarabinerOutdLU: MacKarabinerLU {
            //    For rdp/vnc/remote carabiner don't work. To switch system layouts use Apple Script added as a service with shortcut

            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp U &tog_on 1 &tog_on 2 &tog_on 3>;
            label = "MACKARABINERLU";
        };

        MacKarabinerOutdLE: MacKarabinerLE {
            //    For rdp/vnc/remote carabiner don't work. To switch system layouts use Apple Script added as a service with shortcut

            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &tog_of 1 &tog_of 2 &tog_of 3>;
            label = "MACKARABINERLE";
        };

        HyperiPadTimelessMacro: HyperiPadTimelessMacro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt_on LA(LC(LCMD)) &tog_on 17>,
                <&macro_pause_for_release>,
                <&tog_of 17 &kt_off LA(LC(LCMD))>;

            label = "HYPERIPADTIMELESSMACRO";
            tap-ms = <1>;
            wait-ms = <1>;
        };

        iPadLayerL: iPadLayerL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tog_on 18>, <&macro_pause_for_release>, <&tog_of 18>;

            label = "IPADLAYERL";
            wait-ms = <1>;
            tap-ms = <1>;
        };

        iPadLayerLU: iPadKarabinerLU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt_off LA(LC(LEFT_COMMAND)) &kp CAPSLOCK &tog_on 1 &tog_on 3 &tog_on 5>;
            label = "IPADKARABINERLU";
            wait-ms = <1>;
            tap-ms = <1>;
        };

        iPadLayerLE: iPadKarabinerLE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt_off LA(LC(LCMD)) &kp CAPSLOCK &tog_of 1 &tog_of 3 &tog_of 5>;
            label = "IPADKARABINERLE";
            wait-ms = <1>;
            tap-ms = <1>;
        };

        JumpDesktop: JumpDesktop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tog_of 4 &kt_on LALT>;
            label = "JUMPDESKTOP";
        };

        iPadCmdShortcutsNonQwerty_WA: CmdShortcutsNonQwerty_WA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_of 5 &tog_of 1 &kt_on LCMD>,
                <&macro_pause_for_release>,
                <&tog_on 5 &tog_on 1 &kt_off LCMD>;

            label = "CMDSHORTCUTSNONQWERTY_WA";
        };

        iPadControlShortcutNonQwerty_WA: iPadControlShortcutNonQwerty_WA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_of 5 &tog_of 1 &kt_on LEFT_CONTROL>,
                <&macro_pause_for_release>,
                <&tog_on 5 &tog_on 1 &kt_off LEFT_CONTROL>;

            label = "IPADCONTROLSHORTCUTNONQWERTY_WA";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        EN_Colemak {
            bindings = <
&EscQ              &kp W                &kp F        &kp P                          &kp G                    &kp J                     &kp L        &kp U        &kp Y                &kp SEMI
&hml LEFT_SHIFT A  &hml LEFT_CONTROL R  &hml RALT S  &hml LCMD T                    &kp D                    &H_deleteWordOnDoubleTap  &hmr LCMD N  &hmr RALT E  &hmr LEFT_CONTROL I  &hmr LEFT_SHIFT O
&kp Z              &lt 21 X             &lt 22 C     &lt 20 V                       &B_Sticky_CMD_Onehanded  &kp K                     &kp M        &kp COMMA    &kp DOT              &kp FSLH
&kp CAPS           &kp N1               &mo 25       &HyperMac_HT_Timeless 0 SPACE  &lt 10 TAB               &kp ESCAPE                &trans       &mo 9        &none                &Backspase_MacLike_mod_morph  &lt 8 ENTER  &lt 7 SPACE
            >;
        };

        UK_Phonetic {
            // Keys physically like EN Colemak, but produce UK letters. (while system set to qwerty. this allows to type on devices where only qwerty like remote macr or localy on iPad)

            bindings = <
&EscUKPhonotic     &kp I                &kp A        &kp G                &kp U                             &kp Q                     &kp K                &kp E             &kp B                &kp SEMI
&hml LEFT_SHIFT F  &hml LEFT_CONTROL H  &hml RALT C  &hml LEFT_COMMAND N  &kp L                             &X_deleteWordOnDoubleTap  &hmr LEFT_COMMAND Y  &hmr RALT T       &hmr LEFT_CONTROL S  &hmr LEFT_SHIFT J
&kp P              &lt 21 LEFT_BRACKET  &lt 22 W     &lt 20 D             &Sticky_CMD_Onehanded_UK_Phoneti  &kp R                     &kp V                &UK_Comma_Symbol  &UK_Period_Symbol    &UK_Question_Symbol
&trans             &trans               &trans       &trans               &trans                            &trans                    &trans               &trans            &trans               &trans               &trans  &trans
            >;
        };

        UK_Phonetic_MacOS_ShortCuts_Fix {
            display-name = "UK-ShortCutsFix";
            bindings = <
&trans  &trans                              &trans  &trans                          &trans  &trans  &trans                          &trans  &trans                              &trans
&trans  &MacOS_Control_non_en_fix_LHRM 0 H  &trans  &MacOS_CMD_non_en_fix_LHRM 0 N  &trans  &trans  &MacOS_CMD_non_en_fix_RHRM 0 Y  &trans  &MacOS_Control_non_en_fix_RHRM 0 S  &trans
&trans  &trans                              &trans  &trans                          &trans  &trans  &trans                          &trans  &trans                              &trans
&trans  &trans                              &trans  &trans                          &trans  &trans  &trans                          &trans  &trans                              &trans  &trans  &trans
            >;
        };

        UK_QWERTY_Symbols_thumbkey {
            display-name = "UK_QWERTY_Symbols_thumbkey";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &lt 6 SPACE
            >;
        };

        iPad {
            bindings = <
&trans  &trans  &trans  &trans                           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &Hyper_iPad_HT_Timeless 0 SPACE  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        iPad_UK_Phonetic_Shortcut_WA {
            display-name = "UK-ShortCutsFix";
            bindings = <
&trans  &trans                                &trans  &trans                            &trans  &trans  &trans                            &trans  &trans                                &trans
&trans  &iOS_Control_non_qwerty_fix_LHRM 0 H  &trans  &iOS_CMD_non_qwerty_fix_LHRM 0 N  &trans  &trans  &iOS_CMD_non_qwerty_fix_RHRM 0 Y  &trans  &iOS_Control_non_qwerty_fix_RHRM 0 S  &trans
&trans  &trans                                &trans  &trans                            &trans  &trans  &trans                            &trans  &trans                                &trans
&trans  &trans                                &trans  &trans                            &trans  &trans  &trans                            &trans  &trans                                &trans  &trans  &trans
            >;
        };

        Symbols_UK_QWERTY {
            bindings = <
&kp LS(N1)                 &kp UNDER                         &kp LC(LA(LEFT_BRACKET))  &kp LC(LA(LS(COMMA)))         &kp LC(LA(GRAVE))  &kp LA(N3)  &kp LA(LC(LS(PERIOD)))         &kp LA(LC(RIGHT_BRACKET))  &kp LA(N7)                    &kp LA(M)
&hml LEFT_SHIFT EQUAL      &kp MINUS                         &kp PLUS                  &kp LEFT_PARENTHESIS          &kp LA(N6)         &kp LA(N4)  &kp RIGHT_PARENTHESIS          &kp LA(LC(SEMI))           &kp LC(LA(LS(SINGLE_QUOTE)))  &hmr LEFT_SHIFT LC(LA(APOSTROPHE))
&kp LA(LS(LC(BACKSLASH)))  &slash_and_backslash_NonEN_tpdnc  &kp LA(N8)                &kp LC(LA(LS(LEFT_BRACKET)))  &kp LS(N5)         &kp LA(N2)  &kp LA(LC(LS(RIGHT_BRACKET)))  &kp LA(LC(COMMA))          &kp LA(LC(PERIOD))            &kp LA(LS(LC(SLASH)))
&trans                     &trans                            &trans                    &trans                        &trans             &trans      &trans                         &trans                     &trans                        &trans                              &trans  &trans
            >;
        };

        Symbols_EN {
            bindings = <
&kp EXCL               &kp UNDER                         &kp LEFT_BRACKET  &kp LESS_THAN                       &kp GRAVE    &kp HASH    &kp GREATER_THAN                     &kp RIGHT_BRACKET  &kp AMPS           &kp TILDE
&hml LEFT_SHIFT EQUAL  &kp MINUS                         &kp PLUS          &hml LEFT_COMMAND LEFT_PARENTHESIS  &kp CARET    &kp DOLLAR  &hmr LEFT_COMMAND RIGHT_PARENTHESIS  &kp SEMI           &kp DOUBLE_QUOTES  &hmr LEFT_SHIFT APOSTROPHE
&kp PIPE               &slash_and_backslash_EN_tapdance  &kp ASTERISK      &kp LEFT_BRACE                      &kp PERCENT  &kp AT      &kp RIGHT_BRACE                      &kp COMMA          &kp PERIOD         &kp QUESTION
&trans                 &trans                            &trans            &trans                              &trans       &trans      &trans                               &trans             &trans             &trans                      &trans  &trans
            >;
        };

        Numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &none       &kp N7        &kp N8  &kp N9  &none
&trans  &trans  &trans  &trans  &trans  &none       &kp NUMBER_4  &kp N5  &kp N6  &kp NUMBER_0
&trans  &trans  &trans  &trans  &trans  &kp KP_DOT  &kp N1        &kp N2  &kp N3  &none
&trans  &trans  &trans  &trans  &trans  &trans      &trans        &trans  &trans  &trans        &trans  &none
            >;
        };

        emoji {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &emojiPOCMacro  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        HRM_4 {
            display-name = "ASDFHJKL";
            bindings = <
&none           &mo 13            &none     &none     &mo 11  &kp HOME                        &kp PAGE_UP    &none     &none         &none
&kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp RALT  &kp LCMD  &mo 12  &backspaseOrDeleteWordOnDouble  &kp LEFT       &kp DOWN  &kp UP_ARROW  &kp RIGHT
&kp LG(Z)       &none             &none     &mo 14    &none   &kp END                         &kp PAGE_DOWN  &none     &none         &none
&none           &trans            &trans    &trans    &trans  &trans                          &trans         &trans    &none         &trans     &trans  &trans
            >;
        };

        HRM_4-TabsNav {
            bindings = <
&none  &none  &none  &none  &none  &none  &none            &none  &none  &none
&none  &none  &none  &none  &none  &none  &kp LC(LS(TAB))  &none  &none  &kp LC(TAB)
&none  &none  &none  &none  &none  &none  &none            &none  &none  &none
&none  &none  &none  &none  &none  &none  &none            &none  &none  &none        &none  &none
            >;
        };

        HRM_4-SafGroupNav {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none                      &none                     &none
&none  &none  &none  &none  &none  &none  &none  &kp LG(LA(RIGHT_BRACKET))  &kp LG(LA(LEFT_BRACKET))  &none
&none  &none  &none  &none  &none  &none  &none  &none                      &none                     &none
&none  &none  &none  &none  &none  &none  &none  &none                      &none                     &none  &none  &none
            >;
        };

        HRM_4-WorkSpaceAppCycle {
            bindings = <
&none  &none  &none  &none  &none  &none  &none          &none  &none  &none
&none  &none  &none  &none  &none  &none  &kp LS(LA(J))  &none  &none  &kp LA(LS(K))
&none  &none  &none  &none  &none  &none  &none          &none  &none  &none
&none  &none  &none  &none  &none  &none  &none          &none  &none  &none          &none  &none
            >;
        };

        HRM_4-AppWindowsCycle {
            bindings = <
&none  &none  &none  &none  &none  &none  &none           &none  &none  &none
&none  &none  &none  &none  &none  &none  &kp LS(LG(F9))  &none  &none  &kp LG(F9)
&none  &none  &none  &none  &none  &none  &none           &none  &none  &none
&none  &none  &none  &none  &none  &none  &none           &none  &none  &none       &none  &none
            >;
        };

        Mac_Hyper_and_Krbnr_Outd_Layers {
            //    For rdp/vnc/remote carabiner don't work. To switch system layouts use Apple Script added as a service with shortcut

            bindings = <
&kp Q   &kp W   &kp F   &kp P   &kp G   &kp J   &MacKarabinerOutdL  &kp U      &kp Y    &kp SEMI
&kp A   &kp R   &kp S   &kp T   &kp D   &kp H   &kp N               &kp E      &kp I    &kp O
&kp Z   &kp X   &kp C   &kp V   &kp B   &kp K   &kp M               &kp COMMA  &kp DOT  &kp FSLH
&trans  &trans  &trans  &trans  &trans  &trans  &trans              &trans     &trans   &trans    &trans  &trans
            >;
        };

        Mac_Hyper_and_KrbnrOutd_Layer_L {
            //    For rdp/vnc/remote carabiner don't work. To switch system layouts use Apple Script added as a service with shortcut

            bindings = <
&kp Q   &kp W   &kp F   &kp P   &kp G   &kp J   &none   &MacKarabinerOutdLU  &kp Y    &kp SEMI
&kp A   &kp R   &kp S   &kp T   &kp D   &kp H   &kp N   &MacKarabinerOutdLE  &kp I    &kp O
&kp Z   &kp X   &kp C   &kp V   &kp B   &kp K   &kp M   &kp COMMA            &kp DOT  &kp FSLH
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans               &trans   &trans    &trans  &trans
            >;
        };

        iPad_Hyper_and_Layers {
            bindings = <
&kp Q   &kp W   &kp F   &kp P   &kp G   &kp J   &iPadLayerL  &kp U      &kp Y    &kp SEMI
&kp A   &kp R   &kp S   &kp T   &kp D   &kp H   &kp N        &kp E      &kp I    &kp O
&kp Z   &kp X   &kp C   &kp V   &kp B   &kp K   &kp M        &kp COMMA  &kp DOT  &kp FSLH
&trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans     &trans   &trans    &trans  &trans
            >;
        };

        iPad_Hyper_and_Layer_L {
            bindings = <
&kp Q   &kp W   &kp F   &kp P   &kp G   &kp J   &none   &iPadLayerLU  &kp Y    &kp SEMI
&kp A   &kp R   &kp S   &kp T   &kp D   &kp H   &kp N   &iPadLayerLE  &kp I    &kp O
&kp Z   &kp X   &kp C   &kp V   &kp B   &kp K   &kp M   &kp COMMA     &kp DOT  &kp FSLH
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans   &trans    &trans  &trans
            >;
        };

        mouse_layer {
            display-name = "mouse";
            bindings = <
&trans  &trans  &trans  &none   &none   &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &none         &none
&trans  &trans  &trans  &trans  &none   &none           &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_UP  &mmv MOVE_RIGHT
&none   &trans  &trans  &trans  &none   &none           &msc SCRL_UP    &none            &none         &none
&none   &trans  &trans  &trans  &trans  &trans          &trans          &trans           &none         &trans           &mkp LCLK  &mkp RCLK
            >;
        };

        mouse_warp {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mouse_precision {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mouse_regular {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        UA_Unicoded {
            bindings = <
&uc UC_UK_I_SHORT  &uc UC_UK_TS                     &uc UC_UK_U  &uc UC_UK_E  &uc UC_UK_N                  &uc UC_UK_H  &uc UC_UK_SH    &uc UC_UK_SCH                   &uc UC_UK_Z   &uc UC_UK_KH
&uc UC_UK_F        &uc UC_UK_I                      &uc UC_UK_V  &uc UC_UK_A  &uc UC_UK_P                  &uc UC_UK_R  &uc UC_UK_O     &uc UC_UK_L                     &uc UC_UK_D   &uc UC_UK_ZH
&uc UC_UK_YA       &uc UC_UK_CH                     &uc UC_UK_S  &uc UC_UK_M  &uc UC_UK_Y                  &uc UC_UK_T  &uc UC_UK_SOFT  &uc UC_UK_B                     &uc UC_UK_YU  &trans
&trans             &ControlShortcutsUnicodeWAMacro  &trans       &trans       &CmdShortcutsUnicodeWAMacro  &trans       &trans          &OptionShortcutsUnicodeWAMacro  &trans        &trans        &trans
            >;
        };

        UA_Uq {
            bindings = <
&EscUKPhonotic     &kp I                &kp A        &kp G                &kp U                             &kp Q                     &kp K                &kp E        &kp B                &kp SEMI
&hml LEFT_SHIFT F  &hml LEFT_CONTROL H  &hml RALT C  &hml LEFT_COMMAND N  &kp L                             &X_deleteWordOnDoubleTap  &hmr LEFT_COMMAND Y  &hmr RALT T  &hmr LEFT_CONTROL S  &hmr LEFT_SHIFT J
&kp P              &kp LEFT_BRACKET     &kp W        &kp D                &Sticky_CMD_Onehanded_UK_Phoneti  &kp R                     &kp V                &kp COMMA    &kp PERIOD           &kp SLASH
&trans             &trans               &trans       &trans               &trans                            &trans                    &trans               &trans       &trans               &trans             &trans  &trans
            >;
        };

        Adjust {
            display-name = "BT, workarounds";
            bindings = <
&tog_on 1  &none       &tog 2      &none         &tog 6        &JumpDesktop  &trans     &trans  &none       &tog 24
&none      &bt BT_PRV  &bt BT_NXT  &bt BT_SEL 2  &bt BT_SEL 3  &trans        &trans     &trans  &iPadMacro  &none
&trans     &trans      &tog_of 1   &kp INSERT    &out OUT_BLE  &none         &MacMacro  &trans  &none       &none
&none      &none       &none       &none         &none         &none         &none      &none   &none       &bt BT_CLR  &none  &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        MouseWarpConditional {
            if-layers = <20>;
            then-layer = <19>;
        };

        MousePrecisionConditional {
            if-layers = <21>;
            then-layer = <19>;
        };

        MouseRegularConditional {
            if-layers = <22>;
            then-layer = <19>;
        };
    };
};
